    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Resume Expert</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/style.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body>
    <div class="container mt-5">
        <h1 class="text-center">Resume Expert</h1>
        <form id="resumeForm" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="jobDescription" class="form-label">Job Description:</label>
                <textarea class="form-control" id="jobDescription" name="job_description" rows="6" placeholder="Enter the job description here..."></textarea>
            </div>
            <div class="mb-3">
                <label for="resumes" class="form-label">Upload Resumes (PDF)</label>
                <input type="file" class="form-control" id="resumes" name="resumes" accept=".pdf" multiple required>
            </div>
            <div class="text-center mb-3">
                <button type="button" class="btn btn-primary me-2" id="summarizeButton">Summarize Resumes</button>
                <button type="button" class="btn btn-secondary me-2" id="matchButton">Percentage Match</button>
                <button type="button" class="btn btn-success" id="downloadCsvButton" style="display: none;">Download CSV</button>
            </div>
        </form>
        <div id="loader" style="display: none;">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <p id="timeRemaining">Processing... Please wait.</p>
        </div>
        <div id="results" class="results"></div>
        <div class="text-center mt-4">
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
    </html>
